.search,
.search-result {
    width: 420px;
}

.search {
    --search-height: 40px;

    height: 40px;
    padding: 0 8px;
    font-size: 1.4rem;
    background-color: var(--search-bg-color);
    color: var(--search-color);
    display: flex;
    justify-content: center;
    border-radius: calc(var(--search-height) / 2);
    border: 2px solid var(--search-border-color);

    .search-icon {
        width: 32px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        opacity: 0.7;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    input,
    .search-clear {
        background-color: transparent;
        color: var(--search-color);
    }

    input {
        flex: 1;
        margin: 0 8px;
        font-weight: 400;
        caret-color: var(--primary-color);

        &::placeholder {
            font-weight: 300;
        }
    }

    .search-clear {
        opacity: 0.7;
        padding: 0 4px;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        visibility: hidden;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    &:focus-within {
        border-color: var(--search-border-hover-color);
    }

    &:hover,
    &:has(input:not(:placeholder-shown)) {
        border-color: var(--search-color);
        .search-icon {
            opacity: 1;
        }
    }

    &:has(input:not(:placeholder-shown)) {
        .search-clear {
            visibility: visible;
        }
    }
}

.search-group {
    padding-top: 12px;
    display: flex;
    flex-direction: column;

    .group-heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 16px;
        margin-bottom: 4px;

        .group-title {
            font-size: 1.6rem;
            color: var(--primary-color);
        }

        .group-more {
            font-size: 1.1rem;
            text-decoration: none;
            font-weight: 300;
            color: var(--text-2nd-color);

            &:hover {
                opacity: 0.9;
                color: var(--primary-color);
            }
        }
    }

    &:hover {
        .group-more {
            display: block;
        }
    }
}
