@import "bootstrap/scss/mixins/breakpoints";
@import "src/styles/variables";

.search,
.search-result {
    width: 420px;

    @include media-breakpoint-down(lg) {
        width: 320px;
    }

    @media (max-width: 400px) {
        width: 250px;
    }
}

.search {
    --search-height: 40px;

    height: 40px;
    padding: 0 8px;
    font-size: var(--text-h7);

    background-color: var(--overlay-1st-color);
    color: var(--search-color);
    display: flex;
    justify-content: center;
    border-radius: 6px;

    .search-icon {
        width: 32px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        opacity: 0.7;

        @include media-breakpoint-down(sm) {
            display: none;
        }

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    input,
    .search-clear {
        background-color: transparent;
        color: var(--text-2nd-color);
    }

    input {
        flex: 1;
        margin: 0 8px;
        font-weight: 400;
        caret-color: var(--primary-color);

        &::placeholder {
            font-weight: 300;
        }
    }

    .search-clear {
        opacity: 0.7;
        padding: 0 4px;
        font-size: 15px;
        display: flex;
        align-items: center;
        visibility: hidden;

        @include media-breakpoint-down(sm) {
            font-size: 12px;
        }

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    &:hover,
    &:has(input:not(:placeholder-shown)) {
        .search-icon {
            opacity: 1;
        }
    }

    &:has(input:not(:placeholder-shown)) {
        .search-clear {
            visibility: visible;
        }
    }
}

.notify {
    padding: 8px 16px;
    margin: 0;
    font-size: var(--text-h7);
    font-weight: 400;
    color: var(--text-3rd-color);

    .icon {
        font-size: 12px;
        margin-right: 8px;
    }
}

.search-poper {
    border-radius: 6px;
    border: none;
}
