@import "bootstrap/scss/mixins/breakpoints";
@import "src/styles/variables";
@import "/src/styles/mixins";
.wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 10%;

    @include media-breakpoint-down(lg) {
        margin-bottom: 10%;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 110%;
    }
}

.background {
    z-index: 1;
    .backdrop {
        width: 100%;
        object-fit: cover;
        max-height: 70vh;
        border-radius: 8px;
    }
}

.inner {
    $left: 6%;
    position: absolute;
    left: $left;
    bottom: -20%;
    right: 0px;
    z-index: 3;
    width: calc(100% - 2 * $left);
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(lg) {
        top: 100%;
    }

    @include media-breakpoint-down(sm) {
        top: 180%;
        flex-direction: column;
    }
}

.container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-width: 1600px;

    @include media-breakpoint-down(lg) {
        // flex-direction: column;
        // align-items: center;
        // text-align: center;
    }

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .poster {
        width: 20%;
        min-width: 160px;
        border-radius: 8px;
        filter: drop-shadow(0 0 10px var(--bg-color));

        @include media-breakpoint-down(lg) {
            width: 20%;
        }

        @include media-breakpoint-down(sm) {
            width: 60%;
        }
    }

    .content {
        display: flex;
        position: relative;
        bottom: 0;
        margin-left: 16px;
        justify-content: center;
        flex: 1;

        display: flex;
        flex-direction: column;
        flex: 1;

        @include media-breakpoint-down(sm) {
            margin-top: 12px;
            margin-left: 0;
        }

        .name {
            font-size: var(--text-h3);
            font-weight: 700;
            color: var(--text-1st-color);
            filter: drop-shadow(0 0 0.5px var(--text-1st-color));
        }

        .tag-line {
            font-size: var(--text-h5);
            font-weight: 400;
            color: var(--text-2nd-color);
            margin-top: 8px;
        }

        .countries,
        .genre-list {
            padding: 0;
            margin: 8px 0;
            font-size: var(--text-h6);
            line-height: 100%;
            color: var(--text-3rd-color);
        }

        .info {
            margin: 40px 0 8px;
            display: flex;

            @include media-breakpoint-down(lg) {
                flex-direction: column;
                margin: 20px 0 8px;
            }
        }

        .info-list {
            flex: 1;
        }

        .genre-list {
            display: flex;
            margin-bottom: 8px;
            line-height: 100%;

            @include media-breakpoint-down(sm) {
                justify-content: center;
            }

            li {
                padding-right: 8px;
                margin: 0;
            }

            li:not(:first-child) {
                border-left: 1px solid var(--text-3rd-color);
                padding-left: 8px;
            }
        }
    }

    .rating {
        display: inline-block !important;
        position: relative;
        margin: 0;
        padding: 0;
        font-size: var(--text-h4);
        line-height: 100%;
    }

    .rating-fill {
        color: #fad32b;
        padding: 0;
        margin: 0;
        position: absolute;
        z-index: 1;
        display: block;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    .rating-empty {
        padding: 0;
        margin: 0;
        display: block;
        z-index: 0;
        color: var(--text-3rd-color);
    }

    .actions {
        display: flex;
        align-self: end;
        justify-content: flex-end;
        align-items: center;

        @include media-breakpoint-down(lg) {
            margin-top: 12px;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        .button {
            margin: 0 16px 0 0;
            justify-content: flex-start;
        }
    }
}

.overlay {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 2;
    background: linear-gradient(to top, var(--bg-color), transparent);

    @include media-breakpoint-down(lg) {
        height: 100%;
    }
}
