$wrapper-padding: 6px;

.wrapper {
    border-radius: 8px;
    position: relative;
    height: 100%;
    cursor: pointer;
    transform: translateY(12px);
    transition: all 0.1s ease;
    padding-bottom: 12px;
    padding-right: 12px;
}

.card-selected {
    transform: translateY(0);
    .name {
        font-weight: 600;
        background-color: transparent;
        background: var(--primary-gradient);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.image-wrapper {
    overflow: hidden;
    border-radius: 8px;
}

.poster {
    position: relative;
}

.image {
    z-index: 1;
    width: 100%;
    aspect-ratio: 1/1.5;
    object-fit: cover;
    transform-origin: center;
    transition: all 1.25s ease;

    &:hover {
        transform: scale(1.25);
    }
}

.rating {
    position: absolute;
    bottom: 24px;
    right: -8px; //pading: 12px - ::after position right: 4px
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: var(--overlay-1st-color);
    font-size: var(--text-h7);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffdf00;
    box-shadow: 0 0 4px var(--overlay-1st-color);

    &::after {
        content: "";
        position: absolute;
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        border-radius: 100%;
        background-color: transparent;
        border: 1.5px solid #ffdf00;
        box-shadow: -2px -2px 8px var(--overlay-1st-color);
    }
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text {
    flex: 1;
}

.name {
    font-size: var(--text-h6);
    margin: 12px 0 6px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.genre {
    font-size: var(--text-h7);
    font-weight: 300;
    color: var(--text-2nd-color);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
