@import "/src/styles/mixins";

.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    background-color: var(--bg-color);
    margin-top: var(--header-height);
    min-height: calc(100vh - var(--header-height));
}

.content {
    flex: 1;
    overflow: hidden;
    padding-top: 20px;
}
