@import "bootstrap/scss/mixins/breakpoints";
@import "src/styles/variables";

// Overide Swiper Classes
// Use Id to avoid duplicate class

#backdrop-slider__slider {
    position: relative;

    .swiper-pagination {
        width: 100px !important;
        left: 100%;
        transform: translateX(calc(-100% - 12px));
    }

    .swiper-pagination-bullet {
        background-color: var(--white-color);
        transition: all 0.25s ease;
    }

    .swiper-pagination-bullet-active {
        width: 24px;
        border-radius: 4px;
    }

    @include media-breakpoint-down(sm) {
        .swiper-pagination {
            transform: translateX(calc(-100% - 6px));
        }
        .swiper-pagination-bullet {
            height: 4px;
            width: 4px;
        }
        .swiper-pagination-bullet-active {
            width: 8px;
            border-radius: 4px;
        }
    }
}

#backdrop-slider__thumbs {
    .swiper-slide {
        transition: all 0.25s ease;
        padding: 12px;
        border-radius: 8px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        transform-origin: center;
        transform: scale(0.9);

        @include media-breakpoint-down(lg) {
            padding: 8px;
        }

        @include media-breakpoint-down(md) {
            padding: 6px;
        }

        &:hover {
            background-color: var(--overlay-1st-color);
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 100%;
            background-color: var(--overlay-8th-color);
            z-index: -1;
        }
    }

    .swiper-slide.swiper-slide-thumb-active {
        background-color: var(--overlay-4th-color);
        transform: scale(1);
        transition: all 0.1s linear;

        &::after {
            animation: wipeToRight 5s linear;
        }
    }

    @keyframes wipeToRight {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
}
