@import "bootstrap/scss/mixins/breakpoints";
@import "src/styles/variables";

.wrapper {
    margin-top: 16px;
}

.content {
    padding: calc(var(--header-height) + 20px) 44px 0;
    @include media-breakpoint-down(lg) {
        padding: calc(var(--header-height) + 20px) 0 0;
    }
}

.pagination-wrapper {
    display: flex;
    justify-content: flex-end;

    @include media-breakpoint-down(md) {
        justify-content: center;
    }
}

.card {
    padding-bottom: 15px;
}
