@import "bootstrap/scss/mixins/breakpoints";
@import "src/styles/variables";

.wrapper {
    display: flex;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }
}

.info-list,
.plot {
    flex: 1;
    font-size: var(--text-h6);
}

@include media-breakpoint-down(md) {
    .info-list {
        flex: 6;
    }

    .plot {
        flex: 4;
    }
}

.info-list {
    padding-right: 16px;
    li {
        display: flex;
        & + li {
            margin-top: 8px;
        }

        .title {
            display: inline-block;
            width: 35%;

            @include media-breakpoint-down(sm) {
                width: 40%;
            }
        }

        .content,
        .content-link {
            display: inline-block;
            flex: 1;
        }
    }
}

.plot {
    padding-left: 16px;
    @include media-breakpoint-down(sm) {
        padding-left: 0;
        margin-top: 16px;
    }
}

.title {
    font-weight: 400;
}

.content,
.content-link {
    font-weight: 300;
}

.content-link {
    &:hover {
        text-decoration: underline;
    }
}
