@import "bootstrap/scss/mixins/breakpoints";
@import "src/styles/variables";

.wrapper {
    margin-top: 44px;
}

.heading {
    display: flex;
    justify-content: space-between;

    .title {
        font-size: var(--text-h4);
        font-weight: 600;
        background: var(--primary-gradient);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.content {
    padding: 0 44px;

    @include media-breakpoint-down(lg) {
        padding: 0;
    }
}
