@import "bootstrap/scss/mixins/breakpoints";
@import "src/styles/variables";

.content-wrapper {
    padding: var(--header-height) 44px 0;
    width: 100%;
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(lg) {
        padding: var(--header-height) 0 0;
    }

    @include media-breakpoint-down(sm) {
        padding: var(--header-height) 20px 0;
    }
}

.content {
    width: 100%;
}
