.menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: fixed;
    // top: 0;
    // left: 0;
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 16px;

    & + .item-wrapper {
        margin-top: 4px;
    }

    &:hover {
        background: var(--overlay-1st-color);
    }

    &.active {
        background: var(--overlay-4th-color);

        .item-icon,
        .item-title {
            color: var(--text-1st-color);
        }
    }

    .item-icon,
    .item-title {
        color: var(--text-2nd-color);
    }

    .item-icon {
        font-size: 1.8rem;
        display: block;
        display: flex;
        justify-content: center;
    }

    .item-title {
        font-size: 1.1rem;
        margin-top: 6px;
    }
}
