@import "bootstrap/scss/mixins/breakpoints";
@import "src/styles/variables";

.wrapper {
    width: 96px;
    padding: 0 8px;
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: calc(var(--header-height) + 20px);
    z-index: 8;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
